.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  .textField {
    width: 100%;
  }
  
  .specialFields {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .buttons {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.specialButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .icon {
    margin-left: 2rem;
    width: 10px;
  }
}