.items {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.item {
  background-color: #fff;
  border-radius: 5px;
  margin: 0.5rem 0;
  padding: 1rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  text-align: left;

  .item {
    border: 2px #eee solid;
    box-shadow: none;
  }

  .itemHeader {
    display: flex;
    justify-content: space-between;

    .buttons {
      button {
        margin: 0 0.5rem;
      } 
    }
  }

  .title {
    font-weight: 600;
    font-size: 1.3rem;
  }

  .desc {
    padding-top: 1rem;
    margin-left: 1rem;
  }
  
  .extras {
    display: inline-block;
    justify-self: start;
    margin: 0.5rem 0rem 0.5rem 1rem;
    background-color: #ddd;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.7rem;

    .extrasText {
      padding: 0 1rem;
    }
  }

  &.completed {
    text-decoration: line-through;
  }

}

.checkbox {
  user-select: none;
  display: flex;
  align-items: center;
}

.checkbox .square {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 0 1rem;
  border: solid 1px #09f;
  display: inline-block;
  border-radius: 5px;

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  
  &:hover {
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
    transform: translateY(-3px);
  }
}

.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox input:checked + .square {
  border: solid 1px #09f;
  background-color: #09f;
}

.form {
  background-color: #eee;
  padding: 2rem;
  margin: 2rem;
  border-radius: 5px;
} 